@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/web/roboto.woff') format('woff');	
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/web/robotomedium.woff') format('woff');
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/web/robotobold.woff') format('woff');
}

body {
	margin: 0;
	
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: white; 

	background-color: #849d8f;
}



.container {
	width: 1146px;
	padding: 9px 27px;
}



a {
	text-decoration: none; 
	color: inherit;
}

.main-header-logo {
	margin-right: 10px;
}

.main-navigation {
	display: flex;	
	align-items: center;
}



.site-navigation,
.catalog-list,
.user-block {
	list-style: none;
	margin: 0;
	padding: 0;
}



.site-navigation > li {
	display: inline-block;	
}

.site-navigation > li > a {
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: white;
	position: relative;
	padding: 8px 13px;
	display: block;
}

.site-navigation > li > a:hover,
.site-navigation > li > a:focus {
	border-radius: 50px;
	background-color:#f8f7f4;
	color: #323232; 
	text-decoration: none;
/* 	border-radius: 15px; */
}

.site-navigation > li > a:active {
	box-shadow: inset 0px 2px 1px 0px #696969;
}

.site-navigation-current > a {
	background-color: #d07058;
	border-radius: 50px;
	text-decoration: none;
}

.link-underline {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.site-navigation a:hover .link-underline {
	border: none;
}

.catalog-list {
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	position: absolute;
/* 	margin: 0; */
	padding: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	min-width: 145px;
	display: none;
}

.catalog-list li {
	
}

.catalog-list li a {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	
	display: block;
	padding: 10px 20px;
}

.catalog-list li a:hover,
.catalog-list li a:focus {
	background-color: #faded7;
}

.catalog-list li a:active {
	background-color: #f6b5a5;
}

.catalog-list-current {
	background-color: #d07058;
}

/* каскад м.б. урбать */
/* тут допиши комменарй */
/* селектор .catalog-new-items {color:red} не сработал. потому что его перебивал более специфичный .catalog-list a? */
.catalog-list .catalog-new-items a {
	font-weight: 700;
}

.user-block {
	margin-left: auto;
	min-width: 270px; 	/* перестраховаться и задвать какой-нибудь max-width, на случай если элементов станет больше и тогда они просто перенесуться на др. строку ?*/
/* 	max-width: 280px; */ /* Спроси. почему при задании max-width элементы выпадают из контейнера? */

	display: flex;
	justify-content: flex-end;
}

.user-block li {
	margin-left: 10px;
}




.contact-us {
	font-weight: 700;
}

.contact-us span {
	font-size: 14px;
	line-height: 16px;
}

.contact-us a {
	font-size: 22px;
	line-height: 24px;
	color:white;
	22 24
}


.breadcrumbs {
	display: flex;
	list-style: none;
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	padding: 0;
}

.breadcrumbs li + li::before {
	content: " » ";
}

/*
.breadcrumbs a::after { 
	content: " » "; 
} 
*/



/* времено скрыл чтобы не мешались */
.search, .login, .cart {
	display: none;
}



.button {
	padding: 8px 15px;
	
	border: none;
	background-color: #9fb3a8;
	border-radius: 16px; 

	font-size: 14px;
	line-height: 16px;
	color: white;
	display: inline-block; /* почему нет? */
}

.button:hover,
.button:focus
 {
	color: #323232;
	background-color:#f8f7f4;
}

.button-medium {
	font-size: 18px;
	line-height: 24px;	
	font-weight: 700;
	
	border-radius: 25px;
}

.button-large {
	font-size: 32px;
	line-height: 44px;
	padding: 15px 40px;
	font-weight: 700;

	border-radius: 35px;
}

.button-accent {
	background-image: linear-gradient(#f26843, #e74a35);
	box-shadow: 0px 2px 1px 0px rgba(172, 16, 0, 0.64);
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.button-accent:hover,
.button-accent:focus {
	color: white;
	
	background-image: linear-gradient(#f58669, #ec6f5e);	
}

.button-accent:active {
	color: white;

	background-image: linear-gradient(to top, #f26843, #e74a35);
	box-shadow: inset 0px 2px 1px 0px rgba(172, 16, 0, 0.64);
}


.slider {
	width:auto;
	text-align: center;
/* 	display: none; */
	
	width: 1146px;
	overflow: hidden;
	margin-bottom: 50px;
}

.slide-list {
	display: flex;
	width: 3438px;
	background-color: #0072bc;
}

.slide-item {
	width: 1146px;
/* 	width: 647px; */
}

.slider-title {
	font-size: 60px;
	line-height: 61px;
	color: white; 
	text-align: center;	
}

.slider-toggle {
	height: 19px;
	width: 19px;
	
	border: 2px solid white;
	border-radius: 20px;

	background-color: transparent;
}

.slider-toggle:hover,
.slider-toggle:focus {
	background-color: rgba(255,255,255,0.4);
}

.slider-toggle:active,
.slider-toogle-current,
.slider-toogle-current:hover {
	background-color: white;
}

/*Добавил контейнер кот. позволит ставить вряд блоки. имя? index-columns, row-wrapper или что-то такое */
.row-container {
	display: flex;
	justify-content: space-between;	
}

.offers {
	margin-bottom: 40px;	
}

.offers-list {
	font-weight: 700;
	list-style: none;
	padding: 0;
	margin: 0;
	
	display: flex;
	justify-content: space-between;	
/* 	flex-wrap: wrap; */
}

.offers-item {
	border-radius: 15px;
	width: 560px;
	min-height: 230px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.offers-item a.button {
	align-self: flex-end;
	margin-top: auto;
}

.offer-title {
	margin: 0;
	margin-bottom: 16px;
	font-size: 35px;
	line-height: 41px;
}

.offer-title + p {
	margin-top: 0; /* пока оставлю так */
}

.offer-description {
	font-size: 16px;
	line-height: 22px;
}

.offer-chocolate {
	background-image: url('../img/background-chocolate.jpg');
	background-repeat: no-repeat;
	background-size: cover; /* подойдёт */
}

.offer-raspberry {
	background-image: url('../img/background-raspberry.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	
}

.product-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.product-item {
	width: 267px;
	position: relative;
}

.product-image {
	width: 267px;
	height: 267px;
	border-radius: 135px;
	overflow: hidden;
	
	margin-bottom: 15px;
}

.product-price {
	font-size: 45px;
	line-height: 60px;	
	font-weight: 700;
	margin: 0;
	position: absolute;
	top: 210px;
}

.product-price span {
	font-size: 34px;
	line-height: 45px;
}

.product-title {
	margin: 0;
}

.product-title a{
	font-size: 16px;
	line-height: 22px;
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);	
}



.features {
	background-image: url('../img/background-waffle.jpg');
	background-repeat: repeat;
	color: #323232;
	width: 100%;
	box-sizing: border-box;
	border-radius: 15px;
	margin-bottom: 40px;
}

.features-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.features-list {
	list-style: none;
	font-size: 16px;
	line-height: 22px;	
	
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.feature-item {
	width: 542px;
/*
	padding-left: 58px;
	box-sizing: border-box;
*/
	
}

.blog {
	background-color: white;
	width: 560px;
	box-sizing: border-box;
	border-radius: 15px;
	background-color: aqua;
	display: flex;
}

.blog-entry {	
	background: url('../img/background-strawberry.jpg') no-repeat;
	background-size: cover;

}

.blog-entry span {
	font-size: 16px;
	line-height: 22px;
	color: #323232;
}

.blog-title a {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-decoration: underline;
	color: #323232;
}



.mailing {
	background-color: #f8f7f4;
	width: 560px;
	border-radius: 15px;
}

.mailing p {
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
}

.mailing input {
	font-size: 16px;
	line-height: 24px;
	color: 999999;
}



.addres {
	width: 302px;
	min-height: 305px;
	border-radius: 15px;

	background-color: white;
	color: #323232; 
}

.addres-section {
	font-size: 14px;
	line-height: 20px;	
}

.addres-accent {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.pagination-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.pagination-item {
	
	width: 26px;
	height: 26px;
/* 	vertical-align: middle; */
	margin-right: 5px;
}

.pagination-item a {
	
	color: white;
	display: block;
	border-radius: 15px;
	width: 26px;
	height: 26px;
	border-radius: 15px;
	text-align: center;
	line-height: 26px; 
	
/* 	vertical-align: middle; почему не срабатывает */
	
}





.pagination-item a:hover,
.pagination-item a:focus
 {
	background-color: rgba(255,255,255,0.2);
	color: #323232;
}

.pagination-current a,
.pagination-current a:hover,
.pagination-item a:active 
 {
	background-color: white;	
	color: #323232;
}



.main-footer {
	display: flex;	
	justify-content: space-between;
	align-items: center;
	min-height: 56px;
}

.footer-social,
.footer-links {
	list-style: none;
}

.footer-social {
	width: 186px;
	height: 36px;
	background-color: #0072bc;
}

.footer-social a {
/* 	width:  */
}

.footer-links {
	margin: 0;
	padding: 0;
	width: 500px;
	background-color: #0072bc;
	display: flex;
	flex-wrap: wrap;
}

.footer-links a {
	font-size: 13px;
	line-height: 16px;
	color: white;	
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.link-suppliers { 
	font-weight: 700;
}

.footer-credits {
	display: flex;
	flex-direction: column;
	
	font-size: 12px;
	line-height: 18px;
}

.footer-credits span {
/*
	font-size: 12px;
	line-height: 18px;
	display: block;
*/
}



.modal {
	display: none;
}