@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/web/roboto.woff') format('woff');	
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/web/robotomedium.woff') format('woff');
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/web/robotobold.woff') format('woff');
}

body {
	margin: 0;
	
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: white; 

	background-color: #849d8f;
/* 	background-image: url('img/ice-cream-glow-slide-1.png'); */

}

.index-page-background {
	background-image: url('../img/ice-cream-glow-slide-1.png'); 
	background-position: top center;
	background-repeat: no-repeat;
}

.container {
	width: 1146px;
	padding: 9px 27px;
	margin: 0 auto;
}

.visually-hidden {
/* 	display: none; */
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


a {
	text-decoration: none; 
	color: inherit;
}

.main-header { }

.main-header-logo {
	margin-right: 10px;
}

.main-navigation {
	display: flex;	
	align-items: center;
}

.site-navigation,
.catalog-list,
.user-block {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation > li {
	display: inline-block;
	position: relative;	
}

.site-navigation > li:hover::after {
	content: "";
	
	position: absolute;

	width: 100%;
	height: 50px;
/* 	невидимая область */
}	

.site-navigation > li > a {
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: white;
	position: relative;
	padding: 8px 13px;
	display: block;
}

.site-navigation > li:not(.site-navigation-current) > a:hover,
.site-navigation > li:not(.site-navigation-current) > a:focus {
	border-radius: 50px;
	background-color:#f8f7f4;
	color: #323232; 
	text-decoration: none;
/* 	border-radius: 15px; */
}

.site-navigation > li:not(.site-navigation-current) > a:active {
	box-shadow: inset 0px 2px 1px 0px #696969;
}

.site-navigation-current > a {
	background-color: #d07058;
	border-radius: 50px;
	text-decoration: none;
}

.site-navigation > li:hover > .catalog-list {
	display: block;
}
/*
почему не срабатывает
.site-navigation > li > a:hover > .catalog-list {
	display: block;
}
*/

.link-underline {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.site-navigation a:hover .link-underline {
	border: none;
}

.page-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	
	margin: 0;
	margin-bottom: 25px;
}

.catalog-list {
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 36px;
/* 	margin: 0; */
	padding: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	min-width: 145px;
	display: none;
	z-index: 5;
}

.catalog-list li {
	
}

.catalog-list li a {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	
	display: block;
	padding: 10px 20px;
}

.catalog-list li a:hover,
.catalog-list li a:focus {
	background-color: #faded7;
}

.catalog-list li a:active {
	background-color: #f6b5a5;
}

.catalog-list-current {
	background-color: #d07058;
}

/* каскад м.б. урбать */
.catalog-list .catalog-new-items a {
	font-weight: 700;
}

.catalog-new-items {
	position: relative;
}

.catalog-new-items:after {
	content: "";
	
	position: absolute;
	height: 1px;
	width: 80%;
	margin: 0 auto;
	background-color: red;
}

.user-block {
	margin-left: auto;
	min-width: 270px; 	/* перестраховаться и задвать какой-нибудь max-width, на случай если элементов станет больше и тогда они просто перенесуться на др. строку ?*/
/* 	max-width: 280px; */ /* почему при задании max-width элементы выпадают из контейнера? */
	position: relative;
	display: flex;
	justify-content: flex-end;
}

/* переопредилил правило т.к. оно стало влиять на корзину. ли корзины стали с отступом */
.user-block > li {
	margin-left: 10px;
}

.contact-us {
	font-weight: 700;
	
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-left: auto; 
}

.contact-us span {
	font-size: 14px;
	line-height: 16px;
}

.contact-us a {
	font-size: 22px;
	line-height: 24px;
}

.breadcrumbs {
	display: flex;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	
	list-style: none;
	font-size: 14px;
	line-height: 16px;
}

/* .breadcrumbs li { margin-right: 20; } Почему не срабатывал селектор? */

/*
.breadcrumbs-item {
	margin-right: 20px;
}
*/

.breadcrumhbs li:last-child {
	margin-right: 0;
}

.breadcrumbs li + li::before {
	content: " » ";
	margin-right: 8px;
	margin-left: 8px;
}

.user-block-item {
	position: relative;
}

.user-block-item:hover::before {
	content: "";
	
	position: absolute;

	width: 100%;
	height: 50px;
/* 	это невидимая область кот. позволяет не пропадать всплывающему меню */
}

.user-block-item:hover .pop-up {
	display: block;
}

/* .user-block-item:focus .pop-up { */ /* нужно правило? при фокусе показывать всплывающее окно */

.pop-up {
	display: none;
	position: absolute;
	top: 36px;
	right: 0;
	z-index: 5;
}

.search,
.login,
.cart {
	box-sizing: border-box;
	
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search {
	width: 340px;
	padding: 20px;
}

.search input {
	font-size: 14px;
	line-height: 24px;
	color: 999999;
	
	padding: 10px 14px;
	
	width: 100%;
	box-sizing: border-box;
	
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}

.login {
	width: 277px;
	padding: 20px;
}

.login-item {
	margin: 0;
	margin-bottom: 20px;
}

.login input {
	font-size: 14px;
	line-height: 24px;
	color: 999999;
	
	padding: 10px 14px;
	
	width: 100%;
	box-sizing: border-box;
	
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}

.login-controls {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.login-options {
	margin: 0;
	
	font-size: 13px;
	line-height: 20px;
	color: #323232;
	text-decoration: underline;
}

.login-options a {
	display: block;

}

.cart {
	padding: 20px;
	min-width: 540px;

	font-size: 13px;
	line-height: 16px;
	color: #323232;
}

.cart-list {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	list-style: none;
	border-bottom: 1px solid #cacac7;
}

.cart-item {
	display: flex;
	align-items:center;
	margin: 0;
	margin-bottom: 15px;
}

.cart-item-photo,
.cart-item-title,
.cart-item-amount,
.cart-item-price {
	margin: 0;
}

.cart-item-photo {
	width: 33px;
	height: 33px;
	margin-right: 15px;
	border-radius: 20px;
	overflow: hidden;
}

.cart-item-title {
	padding-top: 10px;
	margin-right: 35px;
	width: 220px;
	align-self: flex-start;
}

.cart-item-amount {
	margin-right: 30px;	
	width: 95px;
}

.cart-item-amount span {
	color: #999999;
}

.cart-item-price {
	width:55px;
}

.cart-payment {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.total-price {
	font-size: 15px;
	line-height: 18px;
	color: #323232;
	font-weight: 700;
	margin: 0;
	margin-bottom: 15px;
}

.button {
	padding: 8px 15px;
	
	border: none;
	background-color: #9fb3a8;
	border-radius: 16px; 

	font-size: 14px;
	line-height: 16px;
	color: white;
	display: inline-block;
	
	cursor: pointer;
}

/* целесообразность селектора. был такой .button:hover { }*/

.button:not(.button-cart-empty):not(.button-accent):hover,
.button:not(.button-cart-empty):not(.button-accent):focus {
	color: #323232;
	background-color:#f8f7f4;
}

.button-medium {
	font-size: 18px;
	line-height: 24px;	
	font-weight: 700;
	
	border-radius: 25px;
}

.button-large {
	font-size: 32px;
	line-height: 44px;
	padding: 15px 40px;
	font-weight: 700;

	border-radius: 35px;
}

.button-accent {
	background-image: linear-gradient(#f26843, #e74a35);
	box-shadow: 0px 2px 1px 0px rgba(172, 16, 0, 0.64);
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.button-accent:hover,
.button-accent:focus {
	color: white;
	
	background-image: linear-gradient(#f58669, #ec6f5e);	
}

.button-accent:active {
	color: white;

	background-image: linear-gradient(to top, #f26843, #e74a35);
	box-shadow: inset 0px 2px 1px 0px rgba(172, 16, 0, 0.64);
}

.button-cart-empty, 
.button-cart-full
 {
	position: relative;
	padding-left: 45px;
}

.button-cart-empty::before,
.button-cart-full::before {
	content: "";
	
	position: absolute;
	top: 6px;
	left: 15px;
	z-index: 5;
	
	width: 21px;
	height: 20px;	
}

.button-cart-empty::before {
	background: url("../img/icon-cart-01.svg") no-repeat 0 0;
}

.button-cart-full::before {
	background: url("../img/icon-cart-01.svg") no-repeat 0 0;
	background-position-y: -20px;
}

.button-login {
	position: relative;
	padding-left: 45px;
}

.button-login::before {
	content: "";
		
	position: absolute;
	top: 7px;
	left: 15px;	
	
	width: 21px;
	height: 19px;
	
	background: url("../img/login.svg") no-repeat 0 0;
}

.button-login:hover::before,
.button-login:focus::before {
	background-position-y: -19px;
}

.button-search {
	position: relative;
	
	width: 33px; 
 	height: 32px;		
}

.button-search::before {
	content: "";
	
	position: absolute;

	width: 17px;
	height: 17px;
	
	top: 8px;
	left: 8px;
	
 	background: url("../img/icon-search.svg") no-repeat 0 0; 
}

.button-search:hover::before,
.button-search:focus::before {
 	background-position-y: -17px;
}

.button-filter {
	width: 100%;
	font-size: 16px;
	line-height: 18px;
	
	padding-bottom: 9px;
	padding-top: 10px;
		
	box-sizing: border-box;
	border-radius: 20px; /* не по макету */	
	box-shadow: inset 0px 0px 0px 2px white;
/* 	border: 2px solid white; */
}

.button-filter:hover,
.button-filter:focus {
	background-color:#f8f7f4;
	color: #323232; 
	box-shadow: none;
}

.button-filter:active {
/* 	border-color: rgba(255, 255, 255, 0); */
	border-color: transparent;
	background-color: #eaeaea;
	box-shadow: inset 0px 2px 1px 0px #696969;
}

.button-remove {
	display: block;
	width: 11px;
	height: 11px;
	margin-right: 10px;
	
	background: url("../img/icon-close.svg") no-repeat;
	border: none;
	
	cursor: pointer;
}

.button-close-feedback {
	position: absolute;
	top: 16px;
	right: 17px;
	
	display: block;
	width: 18px;
	height: 17px;
	
	background: url("../img/icon-close.svg") no-repeat;
	background-size: 18px 17px;
	border: none;
	
	cursor: pointer;
}

.slider {
	text-align: center;
		
/* 	overflow: hidden; */
	position: relative;
	width: 1146px;
	margin-bottom: 45px;
}

.slide-list {
	display: flex;
	width: 100%;
/* 	width: 3438px; */
}

#slide-2,
#slide-3 {
	display: none;
}

.slide-item {
	width: 1146px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider-title {
	width: 950px;
	
	margin: 0;
	margin-top: 278px;
	margin-bottom: 22px;
	
	font-size: 60px;
	line-height: 61px;
	color: white; 
	text-align: center;
}

.slider-controls {
	position: absolute;
	bottom: 0;
}

.slider-toggle {
	height: 19px;
	width: 19px;
	
	border: 2px solid white;
	border-radius: 20px;

	background-color: transparent;
}

.slider-toggle:hover,
.slider-toggle:focus {
	background-color: rgba(255,255,255,0.4);
}

.slider-toggle:active,
.slider-toogle-current,
.slider-toogle-current:hover {
	background-color: white;
}

/*Добавил контейнер кот. позволит ставить вряд блоки. имя? index-columns, row-wrapper или что-то такое */
.row-container {
	display: flex;
	justify-content: space-between;	
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.offers {
	margin-bottom: 40px;	
}

.offers-list {
	font-weight: 700;
	list-style: none;
	padding: 0;
	margin: 0;
	
	display: flex;
	justify-content: space-between;	
/* 	flex-wrap: wrap; */
}

.offers-item {
	border-radius: 15px;
	width: 560px;
	min-height: 230px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.offers-item a.button {
	align-self: flex-end;
	margin-top: auto;
}

.offer-title {
	margin: 0;
	margin-bottom: 16px;
	font-size: 35px;
	line-height: 41px;
}

.offer-title + p {
	margin-top: 0; /* пока оставлю так */
}

.offer-description {
	font-size: 16px;
	line-height: 22px;
}

.offer-chocolate {
	background-image: url('../img/background-chocolate.jpg');
	background-repeat: no-repeat;
	background-size: cover; /* подойдёт */
}

.offer-raspberry {
	background-image: url('../img/background-raspberry.jpg');
	background-repeat: no-repeat;
	background-size: cover;	
}

.popular-products {
/* 	margin-bottom: 40px; */
}

.products {
	margin-bottom: 40px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.popular-products .product-item {
/* 	margin-bottom: 0;  */
	/* убрать отступы только на главной странице */
}

.product-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
/* 	justify-content: space-between; */
	flex-wrap: wrap;
/* 	margin-bottom: -40px; */
}

.product-item {
	position: relative;

	width: 267px;
	margin-right: 26px;
	margin-bottom: 40px;
		
/* 	padding: 6px 13px; */
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.product-item:nth-child(4n) {
	margin-right: 0;
}

.product-item::before {
	content: "";

	position: absolute;
	top: -6px;
	left: -14px;
	z-index: 1;

	display: none;		
	width: 100%;
	height: 100%;
	padding: 6px 14px 85px;
	
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	background-color: white;
	opacity: 0.2;
}

/* странный селктор */
.product-item:hover.product-item::before,
.product-item:hover .product-preview {
	display: block;
}

.product-preview {
	position: absolute;
	bottom: -65px;
	z-index: 5;

	display: none;
	width: 100%;
	
	text-align: center;
}

.product-item-hit::after {
	content: "";
	
	position: absolute;
	top: 0;
	left: 0;
	
	display: block;
	width: 61px;
	height: 61px;
	
	background: url("../img/icon-hit.svg") no-repeat;
	z-index: 2;
}

.product-image,
.product-price,
.product-itile {
	margin: 0;
}

.product-image {
	width: 267px;
	height: 267px;
	margin-bottom: 15px;

	border-radius: 135px;

	overflow: hidden;	
}

.product-price {
	position: absolute;
	top: 210px;
	z-index: 2;

	margin: 0;
		
	font-size: 45px;
	line-height: 60px;	
	font-weight: 700;
	
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-price span {
	font-size: 34px;
	line-height: 45px;
}

.product-title {
	margin: 0;
	text-align: center;
	position: relative;
	z-index: 10;
}

.product-title a {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);	
	z-index: 3;
}

.features {
	background-image: url('../img/background-waffle.jpg');
	background-repeat: repeat;
	color: #323232;
	width: 100%;
	box-sizing: border-box;
	border-radius: 15px;
	margin-bottom: 40px;
	padding: 20px;
}

.features-title {
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 25px;
}

.features-list {
	list-style: none;
	font-size: 16px;
	line-height: 22px;	
	
	margin: 0;
	padding: 0;
	margin-bottom: -25px;
	display: flex;
	flex-wrap: wrap;
}

.feature-item {
	position: relative;

	width: 542px;
	box-sizing: border-box;	
	margin-bottom: 25px;
	padding-left: 58px;
}

.feature-item:last-child {
	margin-bottom: 0px;
}

.feature-item p {
	margin: 0;
}

.icon-ice-cream::before,
.icon-eco-leaf::before,
.icon-cow::before,
.icon-thermometer::before {
	position: absolute;
	top: -16px;
	left: 0;

	content:"";

	display: block;
	width: 49px;
	height: 49px;
}

.icon-ice-cream::before {
	content: "";
	background: url("../img/icon-ice-cream.svg");
}

.icon-eco-leaf::before {
	background: url("../img/icon-eco-leaf.svg");
}

.icon-cow::before {
	background: url("../img/icon-cow.svg");
}

.icon-thermometer::before {
	background: url("../img/icon-thermometer.svg");	
}

.blog-entry {
	width: 560px;
	box-sizing: border-box;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	min-height: 220px;
		
	background: url('../img/background-strawberry.jpg') no-repeat;
	background-size: cover;
}

.blog-entry span {
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	font-weight: 500;
	margin-bottom: 10px;
}

.blog-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-decoration: underline;
	color: #323232;
	margin: 0;
	padding-right: 225px;
}

.mailing {
	padding: 6px;
	width: 560px;
	
	box-sizing: border-box;

	background-image: repeating-linear-gradient(-45deg, #92cdff 0, #92cdff 7px, white 7px, white 14px, #fe9e90 14px, #fe9e90 21px, white 21px, white 28px);	
}

.mailing,
.mailing-wrapper {
	border-radius: 15px;
}

.mailing-wrapper {
	padding: 33px 20px;
	background-color: #f8f7f4;	
}

.mailing-info {
	margin: 0;
	margin-bottom: 37px;
	
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
}

.mailing-form {
	display: flex;
	align-items: flex-start;
}

.mailing-item {
	margin: 0;
	margin-right: 12px;
	flex-grow: 1; 
}

.mailing input {
	font-size: 16px;
	line-height: 24px;
	color: 999999;
	
	width: 100%;
	box-sizing: border-box;
	padding: 10px 14px;
	
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}

.contacts {
	position: relative;
	background-color: #305fec;
}

.contacts::before {
	content: "";
	width: 80px;
	height: 140px;
	background: url("../img/icon-map-pointer.svg");
	display: block;
	position: absolute;
	left: 290px;
	top: 125px;
}

.addres {
	position:absolute;
	right: 27px;
	top: 64px;
	
	width: 302px;
	min-height: 305px;
	padding: 30px 25px;
	box-sizing: border-box;

	color: #323232; 

	border-radius: 15px;	
	background-color: white;
	
}

.addres-section {
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	margin-bottom: 25px;	
}

.addres-accent {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	display: block;
}

.pagination-list {
	list-style: none;
	margin: 0;
	margin-bottom: 32px;
	padding: 0;
	display: flex; /* пагинация выстраивается в ряд */
	flex-wrap: wrap;
	justify-content: flex-end; /* прижать пагинацию вправо*/
	
}

.pagination-item {
	margin-right: 5px;
}

.pagination-item a {
	display: flex;
	align-items: center;
	justify-content: center; 
/* 	для центровки цифр */

	width: 26px;
	height: 26px;
/*
	padding-top:5px;
	padding-bottom: 4px;
	padding-left: 9px;
	padding-right: 9px;	*/
	border-radius: 15px;

	color: white;
	font-size: 16px;
	line-height: 18px;	
/* 	vertical-align: middle; почему не срабатывает */
	
}

.pagination-item a:hover,
.pagination-item a:focus {
	background-color: rgba(255,255,255,0.2);
	color: white;
}

.pagination-current a,
.pagination-current a:hover,
.pagination-item a:active {
	background-color: white;	
	color: #323232;
}

.pagination-next,
.pagination-prev {
	display: inline-block;
	width: 7px;
	height: 12px;
}	
	
.pagination-next {
	background: url("../img/pagination-icon.svg") no-repeat;
}

.pagination-prev {
	background: url("../img/pagination-icon.svg") no-repeat;
	transform: rotate(180deg);
}

.pagination-disabled {
	opacity: 0.5;
}





.filter {
	margin-bottom: 40px;
	max-width: 880px; /* временно */
}

.filter form {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

fieldset {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	margin-right: 15px;
	
	border: none;
	
	flex-grow: 1;
} 

.filter legend {
	display: inline-block;

	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	margin-bottom: 6px;
	margin-left: 16x; /* почему не срабатывает св-во */
	padding-left: 16px;
}

.filter-list {
	margin: 0;
	padding: 8px 15px;
	min-height: 37px; /* временно */
	box-sizing: border-box;

	display: flex;
	
	list-style: none;
	background-color: rgba(255,255,255,0.2);
	
	border-radius: 20px;
}

.filter-option {
	margin-right: 18px;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	
	display: flex; /* временно */
	align-items: center; /* временно */
}

.filter-option:last-child {
	margin-right: 0;
}

.filter-select {
	display: inline-block;
	position: relative;
}

.filter-select select {
	padding-right: 35px;

	background-color: transparent;
	border: none;
	color: white;
		
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.filter-select::after {
	content: "";

	position: absolute;
	top: 6px;
	right: 0;

	display: block;
	
	border: 5px solid white;
	border-right-color: transparent;
	border-left-color: transparent;	
	border-bottom-color: transparent;
	border-top-width: 9px;
/* 	border-top-color:#323232;	 */
	
}

.filter-select select:hover,
.filter-select select:focus {
	color: #323232;
}

.filter-select:hover::after {
	border-top-color: #323232; 
}

.filter-label {
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	
	position: relative;
	display: inline-block;
	
	user-select: none;
	-webkit-user-select:none;
	padding-left: 35px;
}

.filter-input-radio + .filter-label::before {
	content: "";
	position: absolute;
	left: 0;
	top: -1px;
	
	display: block;
	width: 22px;
	height: 22px;
	
	background: url("../img/radio-sprite.svg") no-repeat;
	
	opacity: 0.7;
}

.filter-input-radio:hover + .filter-label::before,
.filter-input-radio:focus + .filter-label::before {
	opacity: 1;
}

.filter-input-radio:checked + .filter-label::before  {
	background-position-y: -22px;
}

.filter-input-radio:disabled + .filter-label::before  {
	opacity: 0.4;
}

.filter-range-slider {
	position: relative;
	
	display: flex;
	align-items: center;
}

.filter-scale {
	display: block;
	width: 176px;

	height: 4px;
	background-color: #cbd4cd ;
}

.filter-bar {
	width: 55%;
	margin-left:25px;
	height: 4px;
	background-color: #f8f7f4;
}

.filter-range-handle {
	position: absolute;

	height: 4px;
	width: 4px;

	background-color: #ababab;
	border: 8px solid white;
	border-radius: 20px;
	cursor: pointer;
	transition-duration: 0.1s; 	
}

.filter-range-handle-left {
	left:15px;	
}

.filter-range-handle-right {
	right: 45px;
}

.filter-range-handle-left:hover,
.filter-range-handle-right:hover {
	transform: scale(1.12);
}

.filter-input-checkbox + .filter-label::before {
	content: "";
	position: absolute;
	left: 0;
	
	display: block;
	width: 23px;
	height: 20px;
	
	background: url("../img/checkbox-sprite.svg") no-repeat;
	
	opacity: 0.7;
}

.filter-input-checkbox:checked + .filter-label::before  {
	background-position-y: -20px;
}

.filter-input-checkbox:hover + .filter-label::before,
.filter-input-checkbox:focus + .filter-label::before {
	opacity: 1;
}

/* disabled! */

.main-footer {
	display: flex;	
	justify-content: space-between;
	align-items: center;
	min-height: 56px;
	margin-top: 18px;
}

.footer-social,
.footer-links {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-social {
	width: 186px;
	height: 38px;
	display: flex;
	justify-content: space-between;
}

.social-button {
	display: inline-block;
	width: 38px;
	height: 38px;
	
	box-sizing: border-box;
	
	border: 3px solid rgba(255,255,255,0.5);
	border-radius: 20px;
}

.social-button:hover,
.social-button:focus {
	border-color: white;
}

.icon-twitter {
	background: url("../img/icon-twitter.svg") no-repeat;	
}

.icon-instagram {
	background: url("../img/icon-instagram.svg") no-repeat;	
}

.icon-fb {
	background: url("../img/icon-fb.svg") no-repeat;	
}

.icon-vk {
	background: url("../img/icon-vk.svg") no-repeat;	
}

.footer-links-list {
	display: flex;
	align-items: flex-start;
}

.footer-links {
	margin: 0;
	padding: 0;
	position: relative;
	margin-right: 35px;
}

.footer-links:last-child {
	margin-right: 0;
}

.footer-links li {
	margin-bottom: 7px;
}

.footer-links a {
	font-size: 13px;
	line-height: 16px;
	color: white;	

	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.link-suppliers { 	
	font-weight: 700;
}

.link-suppliers::before {
	content: "";

	position: absolute;
	top:0;
	left: -22px;

	display: block;
	width: 15px;
	height: 13px;

	background: url("../img/icon-heart.svg") no-repeat;
}

.footer-credits {
	font-size: 0;
	line-height: 0;
}

.footer-credits p {
	margin: 0;
	font-size: 12px; 
	line-height: 18px; 
}

.footer-credits a {
	display: inline-block;
}

.modal {
	display: none;
}

.modal-feedback {
	position: relative;


	width: 480px;
	padding: 20px 25px;
	
	border-radius: 15px;
	background-color: #f8f7f4;

}

.feedback-title {
	color: #323232;
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 20px;
	display: block;
}

.modal-feedback p {
	margin: 0;
	margin-bottom: 20px;
}

.modal-feedback input,
.modal-feedback textarea {
	display: block;
	font-size: 14px;
	line-height: 24px;
	color: 999999;
	
	padding: 10px 14px;
	
	width: 100%;
	box-sizing: border-box;
	
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}

.modal-feedback input {
	width: 268px;
}
