@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/web/roboto.woff') format('woff');	
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/web/robotomedium.woff') format('woff');
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/web/robotobold.woff') format('woff');
}

body {
	margin: 0;
	
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: white; 

	background-color: #849d8f;
/* 	background-image: url('img/ice-cream-glow-slide-1.png'); */

}

.site-wrapper {
	width: 1200px;
	margin: 0 auto;
	padding: 9px 0;
}

.index-page-background {
	background-image: url('../img/ice-cream-glow-slide-1.png'); 
	background-position: top center;
	background-repeat: no-repeat;
}

.container {
	width: 1146px;
	padding: 0px 27px;
}

.visually-hidden {
/* 	display: none; */
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


a {
	text-decoration: none; 
	color: inherit;
}

.main-header {
	display: flex;
	flex-direction: column; 
}

.main-header-logo {
	margin-right: 10px;
}

.main-navigation {
	display: flex;	
	align-items: center;
}

.site-navigation,
.catalog-list,
.user-block {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation > li {
	display: inline-block;	
}

.site-navigation > li > a {
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: white;
	position: relative;
	padding: 8px 13px;
	display: block;
}

.site-navigation > li > a:hover,
.site-navigation > li > a:focus {
	border-radius: 50px;
	background-color:#f8f7f4;
	color: #323232; 
	text-decoration: none;
/* 	border-radius: 15px; */
}

.site-navigation > li > a:active {
	box-shadow: inset 0px 2px 1px 0px #696969;
}

.site-navigation-current > a {
	background-color: #d07058;
	border-radius: 50px;
	text-decoration: none;
}

.link-underline {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.site-navigation a:hover .link-underline {
	border: none;
}

.page-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	
	margin: 0;
	margin-bottom: 25px;
}

.catalog-list {
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	position: absolute;
/* 	margin: 0; */
	padding: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	min-width: 145px;
	display: none;
}

.catalog-list li {
	
}

.catalog-list li a {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	
	display: block;
	padding: 10px 20px;
}

.catalog-list li a:hover,
.catalog-list li a:focus {
	background-color: #faded7;
}

.catalog-list li a:active {
	background-color: #f6b5a5;
}

.catalog-list-current {
	background-color: #d07058;
}

/* каскад м.б. урбать */
.catalog-list .catalog-new-items a {
	font-weight: 700;
}

.user-block {
	margin-left: auto;
	min-width: 270px; 	/* перестраховаться и задвать какой-нибудь max-width, на случай если элементов станет больше и тогда они просто перенесуться на др. строку ?*/
/* 	max-width: 280px; */ /* почему при задании max-width элементы выпадают из контейнера? */
	position: relative;
	display: flex;
	justify-content: flex-end;
}

/* переопредилил правило т.к. оно стало влиять на корзину. ли корзины стали с отступом */
.user-block > li {
	margin-left: 10px;
}

.contact-us {
	font-weight: 700;
	
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-left: auto; 
}

.contact-us span {
	font-size: 14px;
	line-height: 16px;
}

.contact-us a {
	font-size: 22px;
	line-height: 24px;
}

.breadcrumbs {
	display: flex;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	
	list-style: none;
	font-size: 14px;
	line-height: 16px;
}

/* .breadcrumbs li { margin-right: 20; } Почему не срабатывал селектор? */

/*
.breadcrumbs-item {
	margin-right: 20px;
}
*/

.breadcrumhbs li:last-child {
	margin-right: 0;
}

.breadcrumbs li + li::before {
	content: " » ";
	margin-right: 8px;
	margin-left: 8px;
}

.search {
	position: absolute;
	z-index: 3;
	top:36px;
	right: 165px;
	
	display: none;
	width: 340px;
	padding: 20px;
	box-sizing: border-box;
	
	background-color: #f8f7f4;
	border-radius: 5px;
	
	transition-duration: 0.2s;
	opacity: 0;
}

.button-search:hover ~ .search,
.button-search:focus ~ .search { /* нужно правило? при фокусе показывать всплывающее окно */
	display: block;
	opacity: 1;
}

.search input {
	font-size: 14px;
	line-height: 24px;
	color: 999999;
	
	padding: 10px 14px;
	
	width: 100%;
	box-sizing: border-box;
	
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}

.login {
	position: absolute;
	z-index: 3;
	right: 300px;
	top: 36px;
	right: 95px;;
	
	display: none;
	width: 277px;
	padding: 20px;
	box-sizing: border-box;
	
	border-radius: 5px;
	background-color: #f8f7f4;
	
	transition-duration: 0.2s;
	opacity: 0;
}

.button-login:hover ~ .login {
	display: block;
	opacity: 1;
}

.login-item {
	margin: 0;
	margin-bottom: 20px;
}

.login input {
	font-size: 14px;
	line-height: 24px;
	color: 999999;
	
	padding: 10px 14px;
	
	width: 100%;
	box-sizing: border-box;
	
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}

.login-controls {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.login-options {
	margin: 0;
	
	font-size: 13px;
	line-height: 20px;
	color: #323232;
	text-decoration: underline;
}

.login-options a {
	display: block;

}

.cart {
	display: none;
	padding: 20px;
	z-index: 2;

	font-size: 13px;
	line-height: 16px;
	
	position: absolute;
	top:36px;
	right: 0;
	min-width: 540px;
	box-sizing: border-box;
	background-color: #f8f7f4;
	color: #323232;
	
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	
	transition-duration: 0.5s;
	opacity: 0;
}

.button-cart-full:hover ~ .cart {
	display: block;
	opacity: 1;
}

.cart-list {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	list-style: none;
	border-bottom: 1px solid #cacac7;
}

.cart-item {
	display: flex;
	align-items:center;
	margin: 0;
	margin-bottom: 15px;
}

.cart-item-photo,
.cart-item-title,
.cart-item-amount,
.cart-item-price {
	margin: 0;
}

.cart-item-photo {
	width: 33px;
	height: 33px;
	margin-right: 15px;
	border-radius: 20px;
	overflow: hidden;
}

.cart-item-title {
	padding-top: 10px;
	margin-right: 35px;
/* 	width: 240px; */
	width: 220px;
	align-self: flex-start;
}

.cart-item-amount {
	margin-right: 30px;	
}

.cart-item-amount span {
	color: #999999;

}

.cart-payment {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.total-price {
	font-size: 15px;
	line-height: 18px;
	color: #323232;
	font-weight: 700;
	margin: 0;
	margin-bottom: 15px;
}



.button-remove {
	display: block;
	width: 11px;
	height: 11px;
	margin-right: 10px;
	
	background: url("../img/icon-close.svg") no-repeat;
	border: none;
	
	cursor: pointer;
}

.button-close-feedback {
	position: absolute;
	top: 16px;
	right: 17px;
	
	display: block;
	width: 18px;
	height: 17px;
	
	background: url("../img/icon-close.svg") no-repeat;
	background-size: 18px 17px;
	border: none;
	
	cursor: pointer;
}

.button {
	padding: 8px 15px;
	
	border: none;
	background-color: #9fb3a8;
	border-radius: 16px; 

	font-size: 14px;
	line-height: 16px;
	color: white;
	display: inline-block; /* почему нет? */
}

.button:hover,
.button:focus
 {
	color: #323232;
	background-color:#f8f7f4;
}

.button-medium {
	font-size: 18px;
	line-height: 24px;	
	font-weight: 700;
	
	border-radius: 25px;
}

.button-large {
	font-size: 32px;
	line-height: 44px;
	padding: 15px 40px;
	font-weight: 700;

	border-radius: 35px;
}

.button-accent {
	background-image: linear-gradient(#f26843, #e74a35);
	box-shadow: 0px 2px 1px 0px rgba(172, 16, 0, 0.64);
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.button-accent:hover,
.button-accent:focus {
	color: white;
	
	background-image: linear-gradient(#f58669, #ec6f5e);	
}

.button-accent:active {
	color: white;

	background-image: linear-gradient(to top, #f26843, #e74a35);
	box-shadow: inset 0px 2px 1px 0px rgba(172, 16, 0, 0.64);
}

/* тут была корзина полная */

.button-cart-empty, 
.button-cart-full
 {
	position: relative;
	padding-left: 45px;
}

.button-cart-empty::before,
.button-cart-full::before {
	content: "";
	
	position: absolute;
	top: 6px;
	left: 15px;
	z-index: 5;
	
	width: 21px;
	height: 20px;	
}

.button-cart-empty::before {
	background: url("../img/icon-cart-01.svg") no-repeat 0 0;
}

.button-cart-full::before {
	background: url("../img/icon-cart-01.svg") no-repeat 0 0;
	background-position-y: -20px;
}

.button-login {
	position: relative;
	padding-left: 45px;
}

.button-login::before {
	content: "";
		
	position: absolute;
	top: 7px;
	left: 15px;	
	
	width: 21px;
	height: 19px;
	
	background: url("../img/login.svg") no-repeat 0 0;
}

.button-login:hover::before,
.button-login:focus::before {
	background-position-y: -19px;
}

.button-search {
	position: relative;
	
	width: 33px; 
 	height: 32px;		
}

.button-search::before {
	content: "";
	
	position: absolute;

	width: 17px;
	height: 17px;
	
	top: 8px;
	left: 8px;
	
 	background: url("../img/icon-search.svg") no-repeat 0 0; 
}

.button-search:hover::before,
.button-search:focus::before {
 	background-position-y: -17px;
}

.button-filter {
	flex-grow: 1;
	max-width: 140px;	
	font-size: 16px;
	line-height: 18px;
	
	background-origin: border-box;
	
	box-sizing: border-box;
	border-radius: 20px; /* не по макету */	
	border: 2px solid white;
	

}

.button-filter:hover,
.button-filter:focus {
	background-color:#f8f7f4;
	border-color: #f8f7f4;
	color: #323232; 
}

.button-filter:active {
	border-color: rgba(255, 255, 255, 0);
	background-color: #eaeaea;
	box-shadow: inset 0px 2px 1px 0px #696969;
	/* не по стайлгайду. как сделать по сатайлгайду я не знаю. может вся обводка это box-shadow? это странно*/
}







.slider {
	text-align: center;
	
	overflow: hidden;
	position: relative;
	width: 1146px;
	margin-bottom: 45px;
}

.slide-list {
	display: flex;
	width: 3438px;
/* 	background-color: #0072bc; */
}

.slide-item {
	width: 1146px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider-title {
	width: 950px;
	
	margin: 0;
	margin-top: 278px;
	margin-bottom: 22px;
	
	font-size: 60px;
	line-height: 61px;
	color: white; 
	text-align: center;
}

.slider-controls {
	position: absolute;
	bottom: 0;
}

.slider-toggle {
	height: 19px;
	width: 19px;
	
	border: 2px solid white;
	border-radius: 20px;

	background-color: transparent;
}

.slider-toggle:hover,
.slider-toggle:focus {
	background-color: rgba(255,255,255,0.4);
}

.slider-toggle:active,
.slider-toogle-current,
.slider-toogle-current:hover {
	background-color: white;
}

/*Добавил контейнер кот. позволит ставить вряд блоки. имя? index-columns, row-wrapper или что-то такое */
.row-container {
	display: flex;
	justify-content: space-between;	
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.offers {
	margin-bottom: 40px;	
}

.offers-list {
	font-weight: 700;
	list-style: none;
	padding: 0;
	margin: 0;
	
	display: flex;
	justify-content: space-between;	
/* 	flex-wrap: wrap; */
}

.offers-item {
	border-radius: 15px;
	width: 560px;
	min-height: 230px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.offers-item a.button {
	align-self: flex-end;
	margin-top: auto;
}

.offer-title {
	margin: 0;
	margin-bottom: 16px;
	font-size: 35px;
	line-height: 41px;
}

.offer-title + p {
	margin-top: 0; /* пока оставлю так */
}

.offer-description {
	font-size: 16px;
	line-height: 22px;
}

.offer-chocolate {
	background-image: url('../img/background-chocolate.jpg');
	background-repeat: no-repeat;
	background-size: cover; /* подойдёт */
}

.offer-raspberry {
	background-image: url('../img/background-raspberry.jpg');
	background-repeat: no-repeat;
	background-size: cover;	
}

.popular-products {
	margin-bottom: 40px;
}

.product-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.product-item {
	width: 267px;
	
/* 	padding: 6px 13px; */
	box-sizing: border-box;
	
	position: relative;
	margin-bottom: 40px;
/* 	display: flex; */
	flex-direction: column;
	position: relative;
}



.product-item::before {
	content: "";
	position: absolute;
	display: block;
	z-index: -5;
	width: 293px;
	height: 400px;
	left: -13px;
	background-color: white;
	opacity: 0.4;
	display: none;
}
.product-item:hover.product-item::before {
	display: block;
}

.product-image {
	width: 267px;
	height: 267px;
	margin-bottom: 15px;

	border-radius: 135px;

	overflow: hidden;	
}

.product-price {
	position: absolute;
	top: 210px;

	margin: 0;
		
	font-size: 45px;
	line-height: 60px;	
	font-weight: 700;
	
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-price span {
	font-size: 34px;
	line-height: 45px;
}

.product-title {
	margin: 0;
	text-align: center;
}

.product-title a {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);	
}

.product-preview {
/* 	display: none; */
	margin-top: 18px;
	text-align: center;
}

.features {
	background-image: url('../img/background-waffle.jpg');
	background-repeat: repeat;
	color: #323232;
	width: 100%;
	box-sizing: border-box;
	border-radius: 15px;
	margin-bottom: 40px;
	padding: 20px;
}

.features-title {
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 25px;
}

.features-list {
	list-style: none;
	font-size: 16px;
	line-height: 22px;	
	
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.feature-item {
	position: relative;

	width: 542px;
	box-sizing: border-box;	
	margin-bottom: 25px;
	padding-left: 58px;
}

.feature-item:last-child {
	margin-bottom: 0px;
}

.feature-item p {
	margin: 0;
}

.icon-ice-cream::before,
.icon-eco-leaf::before,
.icon-cow::before,
.icon-thermometer::before {
	position: absolute;
	top: -16px;
	left: 0;

	content: '';

	display: block;
	width: 49px;
	height: 49px;
}

.icon-ice-cream::before {
	content: '';
	background: url("../img/icon-ice-cream.svg");
}

.icon-eco-leaf::before {
	background: url("../img/icon-eco-leaf.svg");
}

.icon-cow::before {
	background: url("../img/icon-cow.svg");
}

.icon-thermometer::before {
	background: url("../img/icon-thermometer.svg");	
}

.blog-entry {
	width: 560px;
	box-sizing: border-box;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	min-height: 220px;
		
	background: url('../img/background-strawberry.jpg') no-repeat;
	background-size: cover;
}

.blog-entry span {
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	font-weight: 500;
	margin-bottom: 10px;
}

.blog-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-decoration: underline;
	color: #323232;
	margin: 0;
	padding-right: 225px;
}



.mailing {
	background-color: #f8f7f4;
	width: 560px;
	border-radius: 15px;
	padding: 37px 28px;
	box-sizing: border-box;
/*
	background-image: 
		linear-gradient(#f8f7f4,#f8f7f4),
		repeating-linear-gradient(-45deg, #92cdff 0, #92cdff 7px, white 7px, white 14px, #fe9e90 14px, #fe9e90 21px, white 21px, white 28px);	
*/
}

.mailing-info {
	margin: 0;
	margin-bottom: 37px;
	
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
}

.mailing-form {
	display: flex;
	align-items: flex-start;
}

.mailing-item {
	margin: 0;
	margin-right: 12px;
	flex-grow: 1; 
}

.mailing input {
	font-size: 16px;
	line-height: 24px;
	color: 999999;
	
	width: 100%;
	box-sizing: border-box;
	padding: 10px 14px;
	
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	
}

.contacts {
	position: relative;
}

.contacts::before {
	content: "";
	width: 80px;
	height: 140px;
	background: url("../img/icon-map-pointer.svg");
	display: block;
	position: absolute;
	left: 290px;
	top: 125px;
}


.addres {
	position:absolute;
	right: 27px;
	top:64px;
	
	width: 302px;
	min-height: 305px;
	padding: 30px 25px;
	box-sizing: border-box;

	color: #323232; 

	border-radius: 15px;	
	background-color: white;
	
}

.addres-section {
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	margin-bottom: 25px;	
}

.addres-accent {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	display: block;
}

.pagination-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.pagination-item {
	
	width: 26px;
	height: 26px;
/* 	vertical-align: middle; */
	margin-right: 5px;
}

.pagination-item a {
	
	color: white;
	display: block;
	border-radius: 15px;
	width: 26px;
	height: 26px;
	border-radius: 15px;
	text-align: center;
	line-height: 26px; 
	
/* 	vertical-align: middle; почему не срабатывает */
	
}

.filter {
	margin-bottom: 40px;
}

.filter form {
	display: flex;
	flex-wrap: wrap;
/* 	align-items: center; */
	align-items: flex-end;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
	margin-bottom: 15px;
	margin-right: 15px;
/* 	display: flex; */
/* 	flex-direction: column; */
} 

.filter legend {
	display: inline-block;

	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	margin-bottom: 6px;
	margin-left: 16x; /* почему не срабатывает св-во */
	padding-left: 16px;
}

.filter-list {
	margin: 0;
	padding: 8px 15px;
	min-height: 37px; /* временно */
	box-sizing: border-box;

	display: flex;
	
	list-style: none;
	background-color: rgba(255,255,255,0.2);
	
	border-radius: 20px;
}

.filter-option {
	margin-right: 18px;
	display: flex; /* временно */
	align-items: center; /* временно */
}

.filter-option:last-child {
	margin-right: 0;
}

.filter-sort {
	display: inline-block;
	padding-right: 37px;
	position: relative;
}

.filter-sort:hover,
.filter-sort:focus {
	color: #323232;
}

/* странный селектор получился путём подбора */
.filter-sort:focus.filter-sort-arrow-up::after {
	border-bottom-color:#323232;
}

.filter-sort:focus.filter-sort-arrow-down::after {
	border-top-color:#323232;	
}
 
.filter-sort-arrow-down:hover::after {
	border-top-color:#323232;
}

.filter-sort-arrow-up:hover::after {
	border-bottom-color:#323232;
}

.filter-sort-arrow-down::after,
.filter-sort-arrow-up::after {
	content: "";

	position: absolute;
	top:7px;
	right: 0;

	display: block;
	
	border: 5px solid white;
	border-right-color: transparent;
	border-left-color: transparent;			
}

.filter-sort-arrow-down::after {
	border-top-color: white;
	border-top-width: 9px;
	border-bottom-width: 0px;
}

.filter-sort-arrow-up::after {
	border-bottom-color: white;
	border-bottom-width: 9px;
	border-top-width: 0px;
}

.filter-label {
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	
	position: relative;
	display: inline-block;
	
	user-select: none;
	-webkit-user-select:none;
	padding-left: 35px;
}

.filter-input-radio + .filter-label::before {
	content: "";
	position: absolute;
	left: 0;
	
	display: block;
	width: 22px;
	height: 22px;
	
	background: url("../img/radio-sprite.svg") no-repeat;
	
	opacity: 0.7;
}

.filter-input-radio:hover + .filter-label::before,
.filter-input-radio:focus + .filter-label::before {
	opacity: 1;
}

.filter-input-radio:checked + .filter-label::before  {
	background-position-y: -22px;
}

.filter-input-radio:disabled + .filter-label::before  {
	opacity: 0.4;
}

.filter-range-slider {
	position: relative;
	
	display: flex;
	align-items: center;
}

.filter-range-bar {
/* 	position: absolute; */	
	display: block;
	width: 176px;

	height: 4px;
	background-color: #f8f7f4;
}


.filter-range-handle {
	display: inline-block;
	position: absolute;
	
/* 	position: absolute; */
/* 	transform: translate(-50%, -50%); */
	
/*
	height: 20px;
	width: 20px;
	background-color: white;
*/
	
	height: 4px;
	width: 4px;
	background-color: #ababab;

	border: 8px solid white;
/* 	box-shadow: 0px 0px 0px 9px black; */
	
	border-radius: 20px;
	cursor: pointer; 	
}

.filter-range-handle-left {
	left:13px;	
}

.filter-range-handle-right {
	right: 45px;
}

.filter-input-checkbox + .filter-label::before {
	content: "";
	position: absolute;
	left: 0;
	
	display: block;
	width: 23px;
	height: 20px;
	
	background: url("../img/checkbox-sprite.svg") no-repeat;
	
	opacity: 0.7;
}

.filter-input-checkbox:checked + .filter-label::before  {
	background-position-y: -20px;
}

.filter-input-checkbox:hover + .filter-label::before,
.filter-input-checkbox:focus + .filter-label::before {
	opacity: 1;
}

/* disabled! */

.pagination-next,
.pagination-prev {
	display: inline-block;
	width: 8px;
	height: 12px;
}	
	
.pagination-next {
	background: url("../img/pagination-arrow.svg") no-repeat;
}

.pagination-prev {
	background: url("../img/pagination-arrow.svg") no-repeat;
	transform: rotate(180deg);
}

.pagination-item a:hover,
.pagination-item a:focus
 {
	background-color: rgba(255,255,255,0.2);
	color: white;
}

.pagination-current a,
.pagination-current a:hover,
.pagination-item a:active 
 {
	background-color: white;	
	color: #323232;
}

.main-footer {
	display: flex;	
	justify-content: space-between;
	align-items: center;
	min-height: 56px;
	margin-top: 18px;
}

.footer-social,
.footer-links {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-social {
	width: 186px;
	height: 38px;
	display: flex;
	justify-content: space-between;
}

.social-button {
	display: inline-block;
	width: 38px;
	height: 38px;
	
	box-sizing: border-box;
	
	border: 3px solid rgba(255,255,255,0.5);
	border-radius: 20px;
}

.social-button:hover,
.social-button:focus
 {
	border-color: white;
}

.icon-twitter {
	background: url("../img/icon-twitter.svg") no-repeat;	
}

.icon-instagram {
	background: url("../img/icon-instagram.svg") no-repeat;	
}

.icon-fb {
	background: url("../img/icon-fb.svg") no-repeat;	
}

.icon-vk {
	background: url("../img/icon-vk.svg") no-repeat;	
}

.footer-links {
	margin: 0;
	padding: 0;
	position: relative;

	column-count: 2; 
	-webkit-column-gap: 0;
}

.footer-links li {
	background-color: #1053c2;
	margin-bottom: 7px;
}

.footer-links a {
	font-size: 13px;
	line-height: 18px;
	color: white;	

	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.link-suppliers { 	
	font-weight: 700;
}

.link-suppliers::before {
	content: "";

	position: absolute;
	
	display: block;

	width: 15px;
	height: 13px;
	
	top:0;
	left: -22px;

	background: url("../img/icon-heart.svg") no-repeat;
}

.footer-credits {
	font-size: 12px; 
	line-height: 18px; 
}

.footer-credits p {
	margin: 0;
}

.footer-credits a {
	background-color: #1053c2;
	margin: 0;
	display: inline-block;
}

.modal {
	background-color: #f8f7f4;

}

.modal-feedback {
	position: relative;

	width: 480px;
	min-height: 445px;
	padding: 20px 25px;
	
	border-radius: 15px;
/* 	text-align: right; */
}

.feedback-title {
	color: #323232;
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 20px;
	display: block;
}

.modal-feedback p {
	margin: 0;
	margin-bottom: 20px;
}

.modal-feedback input,
.modal-feedback textarea {
	display: block;
	font-size: 14px;
	line-height: 24px;
	color: 999999;
	
	padding: 10px 14px;
	
	width: 100%;
	box-sizing: border-box;
	
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}

.modal-feedback input {
	width: 268px;
}
